#content {
    display: flex;

    #menu-content {
        width: 20%;
        nav {
            ul {
                li {
                    color: var(--text-color);
                    font-weight: 600;
                    opacity: 0.5;
                    text-align: center;
                    padding: 12px 0;
                    margin: 8px 0;
                    cursor: pointer;
                }
            }
        }
    }

    #main-content {
        width: 80%;

        .search-content {
            display: flex;
            align-items: center;
            padding: 6px 6px;
            margin: 0 12px 20px;
            border-radius: 28px;
            border: 2px solid var(--outline-color);
            opacity: 0.4;
            overflow: hidden;
            transition: 0.4s;

            > label {
                line-height: 0;

                .icon-search {
                    font-size: 24px;
                    padding: 3px;
                    cursor: pointer;
                    color: var(--outline-color);
                }
            }

            #input-search {
                display: block;
                width: 100%;
                height: 30px;
                font-size: 15px;
                padding: 8px;
                transition: 0.5s;
            }

            &:focus-within {
                opacity: 1;
            }
        }

        .list-content {
            overflow-y: scroll;
            height: 80vh;
            padding: 0 8px 20px;

            .list-item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 6px;
                transition: 0.3s;
                border-radius: 12px;

                &:hover {
                    cursor: pointer;
                    background-color: var(--outline-color-opacity);
                }

                .list-item-img {
                    width: 100px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100%;
                        transition: 0.3s;
                    }
                }

                &:hover .list-item-img img {
                    transform: scale(1.2);
                }

                .list-item-content {
                    width: 65%;

                    h3 {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

/* format scrollbar */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--outline-color-opacity);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--outline-color);
}
