:root {
    --background-color-body: linear-gradient(60deg, rgb(255, 255, 255), rgb(199, 199, 199));
    --text-color: #009b9b;
    --outline-color: #009b9b;
    --outline-color-opacity: #00ffff;
    --font-family: Arial, Helvetica, sans-serif !important;
}
